body {
    font-family: 'Montserrat', sans-serif;

    background-color: #f7faf5;
}
.main-container {
    display: flex;
    background-color: #ffffff;
    width: 1200px;
    margin: 40px auto;
    color: #595959;
}
.main-container-section {
    padding: 100px 90px ;
}
.about-me, .my-contacts, .sidebar-section, .my-work-experience, .my-education, .tech-skills {
    width: 600px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    
}




.sidebar-section {
    background-color: #ffffff;
    width: 370px;
    padding: 120px 0;
    margin-right: auto;
 
}